<%= render "layouts/pediatria" %>

<h1>Editar Atributos de cita pediatrica</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @pediatric_appointment %> |
<%= link_to 'Atras', pediatric_appointments_path %>
