<div style="text-align: center;"><h1>Sistema de Control de Citas e Historias Médicas</h1></div>
<div id="img_fondo" align="center"><img src="/images/imagen_C4.jpg" alt="" with="70%" height="70%" align="center" style="margin:0 auto; padding:0 auto;"></div>