<div style="text-align: center;"><h1>Sistema de control de citas e historias medicas</h1></div>
<div id="img_fondo" align="center"><img src="/assets/imagen_C4.jpg" alt="" with="70%" height="70%" align="center" style="margin:0 auto; padding:0 auto;"></div>