<ul class="no-list row center-xs middle-xs">
  <li class= "col-md btnnav">
    <%= link_to "Citas del dia", citas_del_dia_appointments_path %>
  </li>
	<li class= "col-md btnnav">
	  <%= link_to "Agregar Paciente", new_patient_path%>
  </li>
  <li class= "col-md btnnav">
    <%= link_to "Buscar Pacientes", patients_path %> 
  </li>
  <li class= "col-md btnnav">
    <%= link_to "Agregar Cita", new_appointment_path %>
  </li>
</ul>

