<ul class="no-list row center-xs middle-xs">
  <li class= "col-md btnnav">
		<%= link_to "Citas del dia", citas_del_dia_pediatric_appointments_path %>
	</li>
  <li class= "col-md btnnav">
    <%= link_to "Agregar Paciente pediatrico", new_pediatric_patient_path%>
  </li>
  <li class= "col-md btnnav">
    <%= link_to "Pacientes pediatricos", pediatric_patients_path %> 
  </li>
  <li class= "col-md btnnav">
    <%= link_to "Agregar Cita pediatrica", new_pediatric_appointment_path %>
  </li>
</ul>